.CardProduct{
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

/* .Title{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 25px;
} */

.Container2 {
    height: 100vh;
    width: 100%;
    padding: 90px 90px 90px 90px;
    background-color: #292626;
}

.ImgCont{
 display: flex;
 border: 2px solid white;
}

.Image{
    display: flex;
    width: 40vw;
    height: 35vh;
}
.img{
    width: 400px;
     height: 300px
} 

.Container{
    width: 50%;
}
.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.Starts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.starsIcons {
    display: flex;
}
.Price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 15px 0;
    color: white;
    font-weight: bold;
}
.ContButtom{
    display: flex;
    justify-content: space-around;

}
.Cont{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    
}
.Compra{
    align-items: center;
    width: 45%;
}

.btn {
    background-color: #29552D;
    color: white;
    height: 50px;
    width: 100px;
}
.btnDis {
    cursor: not-allowed;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    color: white;
}

.Description{
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.btnmaxmin {
    color: white;
}

.Num {
    color: white;
    font-size: 20px;
    font-weight: bold;
}