.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.link {
  display: flex;
  justify-content: space-around;
  width: 33%;
  height: 80%;
  align-items: center;
  font-size: 22px;
}

.image {
  display: flex;
  justify-content: space-around;
  width: 20%;
  height: 80%;

  align-items: center;
}
.image img {
  object-fit: cover;
  height: 7vw;
}

.cart {
  font-size: 3.5vh;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 8.5vw;
  align-items: center;
}

.main .mobile {
  display: none;
}




@media only screen and (min-width: 375px) and (max-width: 667px) {
  


  .main .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    
  }

  .main .mobile .burger {
    cursor: pointer;
    position: absolute;
    left: 5%;
  }


  .link {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 160px;
    position: absolute;
    width: 50%;
    z-index: 5;
    padding: 0 0px 180px 35px;
    border-top: 4px solid black;
    margin-right: 50%;
  }

  .link1{
    display: flex;
    margin-right:30%;
    height: 10%;
    width: 80%;
  }

  .link p:hover{
    background-color: azure;
    width: 100%;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navegacion {
    display: none;
  }

  .image {
    display: flex;
    align-items: center;
    position: absolute;
    width: 15%;
  }

  .cart {
    position: absolute;
    margin-right: -55%;
  }
}
