.main {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    height: 13%;
    height: 15vh;
}


.link{
    display: flex;
    justify-content: space-around ;
    width: 33%;
    height: 80%;
    align-items: center;
    font-size: 22px;
    
}

.image{ 
    display: flex;
    justify-content: space-around ;
    width: 20%;
    height: 80%;
    align-items: center;

}
.image img{
    object-fit: cover;
    height: 7vw;
}

.cart{
    font-size: 3.5vh;
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 8.5vw;
    align-items: center;
}
