.filtrado{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  margin-left: 5vh;
  margin-top: 2vh;
}
.selector{
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
.filtrado{
display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
}
@media(max-width: 375px) {
  .filtrado{
  display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
  }
  }