.filtrado{
  display: flex;
  gap: 10%;
  width: 60%;
}
.selector{
  border-radius: 4px;
  margin-left: 5px;
}

.filtrado select{
  padding: 3px;
  width: 190px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
}

.filtrado label{
  font-size: 22px;
  font-weight: 400;
}