.search {
    height: 10vh;
    display: flex;
    align-items: center;
}

.search input{
    width: 300px;
    padding: 3px;
    border-radius: 5px;
    outline: none;
    font-size: 19px;
}

.test{
    background-color: white;
    display: flex;
    padding: 3px;
    border-radius: 5px;
    margin-left: -15%;
    border: 2px solid black;
}

.test2{
    background-color: white;
    text-align: center;
    margin-left:5px;
    padding: 5px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid black;
}

.test2:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    transition: 350ms;
    padding: 9px;
}