.cartita{
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #242121;
    padding-top: 45px;
    
   

}

.recetas{
    min-height: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10vw;
    padding-right: 10vw;
}


.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30px;
    background-color: white;
}