
.cartita{
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #242121;
}

.recetas{
    min-height: 800px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 45px;
}


.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 98vw;
    height: 55px;
    background-color: white;
}
