.principal {
  background-color: #242121;
  justify-content: center;
}

.titulo {
  font-size: large;
  align-items: center;
  padding-top: 50px;
  color: white;
}

.cardform {
  width: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
  padding-bottom: 50px;
}

.frontera {
  background-color: #c18e0e;
  height: 100%;
  width: 4px;
}

.cuadro1 {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  padding: 40px 100px;
  width: 85%;
  border-radius: 20px;
  background: #a1a1aa;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}

.cuadro1:hover {
  box-shadow: rgba(228, 225, 225, 0.25) 0px 54px 55px,
    rgba(255, 254, 254, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.47) 0px 4px 6px,
    rgba(245, 245, 245, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.cuadro1a {
  text-align: center;
  width: 100%;
  height: 100%;
}

.cuadro1titulo {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

.aa {
  text-align: center;
  justify-content: left;
  display: flex;
  margin-left: 40px;
  padding: 20px;
  padding-left: 30px;
  font-size: 20px;
}

.aa1 {
  width: 40px;
  height: 30px;
  color: white;
  padding-right: 10px;
}

.icon {
  width: 40px;
  height: 30px;
}

.redes {
  display: flex;
  justify-content: flex-start;
  /* background-color: #a1a1aa; */
  margin-left: 40px;
}

.rs {
  background-color: transparent;
  border: 2px solid #c18e0e;
  margin: 20px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3px 3px 3px #4444dd);
  width: 60px;
  height: 60px;
}

.rs:hover {
  background-color: whitesmoke;
  border: none;
}

.card {
  width: 100%;
  /* border-radius: 20px; */
  /* background: #a1a1aa; */
  padding-top: 30px;
}

.card button {
  gap: 30px;
}

.principal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal input {
  margin-bottom: 20px;
  width: 350px;
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.principal textarea {
  width: 350px;
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  resize: none;
}

.principal h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.principal label {
  font-size: 25px;
}

.errors {
  margin: 0 auto;
  padding: 0;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 375px) and (max-width: 667px){
  .cuadro1a {
    display: none;
  }

  .frontera{
    display: none;
  }

  .titulo{
    font-size: 25px;
  }

  .card{
    width: 100%;
  }

  .card h1{
    font-size: 25px;
  }

  .card label{
    font-size: 19px;
  }

  .cuadro1{
    width: 75%;
  }

  .card input{
    width: 300px;
  }

  .card textarea {
    width: 300px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 850px){
  .cuadro1a {
    display: none;
  }

  .frontera{
    display: none;
  }

  .titulo{
    font-size: 25px;
  }

  .card{
    width: 100%;
  }

  .card h1{
    font-size: 25px;
  }

  .card label{
    font-size: 19px;
  }

  .cuadro1{
    width: 65%;
  }

  .card input{
    width: 300px;
  }

  .card textarea {
    width: 300px;
  }
}

@media only screen and (min-width: 849px) and (max-width: 1000px){
  .cuadro1a{
    display: none;
  }

  .frontera{
    display: none;
  }

  .titulo{
    font-size: 25px;
  }

  .card{
    width: 50%;
  }

  .card h1{
    font-size: 25px;
  }

  .card label{
    font-size: 19px;
  }

  .card input{
    width: 300px;
  }

  .card textarea {
    width: 300px;
  }
}