.block {
    /* margin-top: 10vh; */
    border: 1px solid black;
    height: 80%;
}
.grid {
    display: grid;
    /* height: 7vh; */
    align-items: center;
    justify-content: center;
    grid-template-columns: 5vw 5vw 16vw 16vw 16vw 10vw 16vw 16vw ;
    border: 1px solid black;
    columns: 12vw;
    
}

.boton {
    font-size: 1.5vw;
    margin-top: 0.3vh;
    margin-left: 5vh;
    color: red;
    
}
.miniGrid {
    display: grid;
    grid-template-columns: 30vw 20vw 20vw 20vw ;
    align-items: center;
    justify-content: center;
    background-color: rgb(183, 208, 255);
}
.button{
    display: grid;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button h1{
    margin: 0;
}

.closed {
    display: none;
}
