/* .img{
    width: 100%;
    height: 328px;
    border-radius: 15px;
} */

.contenedor{
  height: 100%;
  width: 100%;
 
}
 .contenedor img{
    width: 100%;
    height: 328px;
    border-radius: 15px;
} 
