.container {
    background-color: #242121;
    height: 120px;
    width: 800px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c18e0e;
    padding-left: 5px;
    padding-right: 5px;
}

.overflow {
    overflow: wrap
}

.img {
    height: 80px;
    width: 80px;
    margin-right: 5px;
}

.btnContainer {
   display: flex;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterContainer {
    display: flex;
}

.counterBtn {
    color: white;
    margin: 5px;
}

.counterNumber {
    margin: 5px;
    color: white;
}

.btn {
    background-color: #29552D;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin-right: 5px;
    color: white;
    font-weight: bold;
}

.btn1 {
    background-color: #0c3ab8;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin-right: 5px;
    color: white;
    font-weight: bold;
}

.btn2 {
    background-color: red;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin-right: 5px;
    color: white;
    font-weight: bold;
}


.name {
    font-size: 25px;
    color: white;
}