.card {
  height: 293px;
  width: 293px;
  position: relative;
  z-index: 50;
  /* margin: 10px; */
}

.titlecontainer {
  background-color: #242121;
  height: 137px;
  width: 233px;
  z-index: 100;
  position: absolute;
  bottom: -15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 14.5px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.description {
  color: white;
  font-size: 15px;
}

.img {
  width: 280px;
  height: 280px;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .card{
    height: 93px;
    width: 180px;
    margin-left: 10px;
  }
  
  .img{
  width: 180px;
  height: 180px;
  border-radius: 10px;
  }

  .titlecontainer{
    width: 150px;
    height: 100px;
    top: 170%;
    right: 50%;
  }

  .title{
    font-size: 15px;
    font-weight: normal;
  }

  .description{
    font-size: 13px;
  }
}

@media only screen and (min-width: 668px) and (max-width: 1000px){
  .card{
    height: 99px;
    width: 190px;
    margin-left: 10px;
  }
  
  .img{
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin-left: 4.5%;
  }

  .titlecontainer{
    width: 160px;
    height: 110px;
    top: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title{
    font-size: 19px;
    font-weight: normal;
  }

  .description{
    font-size: 13px;
  }
}
