.page{
    background-color: rgba(43,38,38);
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    justify-content: space-around;
	padding-top: 45px;
    height: 1200px;
}

.salto{
    height: 1px;
    width: 100vw;
    background-color: rgb(194, 143, 13);
   	margin-bottom: 20px;
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;

}
