.page{
    background-color: rgba(43,38,38);
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    justify-content: space-around;
	padding-top: 45px;
    height: 1200px;
}

.salto{
    height: 1px;
    width: 100vw;
    background-color: rgb(194, 143, 13);
   	margin-bottom: 20px;
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 55px;
}

.filtros{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media only screen and  (max-width: 820px) {

    .filtros{
        display: flex;
       /*  align-items: center;
        justify-content: space-around; */
        flex-direction: column;
}

}
