* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 50px;
    color: #292626;
    font-weight: bold;
}

.label {
    color: #292626;
    font-size: 25px;
}

.input {
    border: 2px solid #292626;
    border-radius: 10px;
    height: 30px;
}

.btn {
    background-color: #292626;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

