.inicial{
  display: flex;
  background-color: #292626
}
.principal{
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  min-height: 800px;
  margin-left: 20%;
  /* background-color: #292626; */
}

.form form{
  border: 3px solid black;
  display: flex;
  align-content: stretch;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 30vw;
  min-height: 600px;
  background-color: #a1a1aa ; 
}

.principal label{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
}

.principal input{
  padding: 6px 6px ;
  width: 290px;
  border: solid 2px black;
  border-radius: 10px;
  font-size: 20px;
}
.products {
  width: 30vw;

}
.title {
  text-align: center;
  font-size: 5vh;
  color: aliceblue;
}
