.cart {
  cursor: pointer;
}
/* .openCart {
  border: 1px solid black;
  background-color: white;

  top: 20%;
  right: 0;
  width: 37vw;
  height: 100vh;
  align-items: center;
  position: fixed;

  z-index: 5;
} */

.openCart {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 5;
  height: 75vh;
  position: absolute;
  top: 19.5%;
  right: -0%;
  border-top: 4px solid black;
  border-left: none;
  border-bottom: none;
  transition: 850ms;
}

.closeCart {
  position: fixed;
  right: -37vw;
  top: 0;
  transition: 1000ms;
  z-index: 1;
  height: 100vw;
  display: none;
}
.carritoNum {
  height: 5vh;
  position: relative;
  bottom: 0.8vw;
}
.carrito {
  position: relative;
  top: 2vh;
  right: 0.5vw;
}
.sinNum {
  display: none;
}
.numCarrito {
  color: white;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  font-size: 1vw;
  font-weight: bold;
  background-color: red;
  width: 0.95vw;
  border-radius: 10px;
}
.lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5vh;
  margin-left: 6vw;
}
.listObj {
  width: 9vw;
  height: 5vh;
}
.listUni {
  width: 7vw;
  height: 5vh;
}
.backToHome {
  position: absolute;
  left: 0;
  top: 0;
  width: 62vw;
  height: 100vh;
  z-index: 2;
}
.none {
  display: none;
}
.cross {
  padding-top: 2vh;
  padding-bottom: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.close {
  font-size: 3vh;
}
.list {
  min-height: 10vw;
  text-align: center;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5vw;
  padding-top: 1vw;
  border-top: 1px solid black;
  font-size: 3.5vh;
}

.miniProd {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.image {
  width: 4vw;
  height: 4vw;
}
.prod {
  font-size: 2.5vh;
}

.prods {
  font-size: 2.5vh;
}

.boton {
  display: flex;
  color: white;
  background-color: red;
  font-size: 1.5vw;
  align-items: center;
  justify-content: center;
  height: 1.3vw;
  width: 1.3vw;
  border: 1px solid black;
  border-radius: 3px;
}
.finalizar {
  margin-top: 5vh;
  width: 37vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 15vw;
  height: 7vh;
  border: 2px solid black;
  border-radius: 5px;
}
.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contadorLess {
  width: fit-content;
  margin: 1vw;
  color: red;
}

.contadorPlus {
  width: fit-content;
  margin: 1vw;
  color: green;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .openCart {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-right: 5%;
    width: 55vw;
    height: 81vh;
    margin-top: 24%;
    position: absolute;
    padding-right: 0;
    border-top: 4px solid black;
    border-left: none;
    border-bottom: none;
  }

  .lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  

  .miniProd {
    display: flex;
    align-items: center;
  }

  .miniProd img {
    display: none;
  }

  .miniProd .prod {
    margin-left: 5px;
    font-size: 16px;
    text-align: center;
  }

  .miniProd .counter {
    margin-right: 5%;
  }

  .miniProd .prods {
    margin-right: 5%;
  }

  .miniProd .boton {
    width: 35px;
    padding: 7px;
    text-align: center;
    position: absolute;
    margin-bottom: 11%;
  }

  /* .miniProd .boton:hover{
    background-color: burlywood;
    color: black;
  } */

  .totalLet {
    font-size: 20px;
    margin-left: 15%;
  }

  .totalNum {
    margin-left: 40%;
    font-size: 20px;
  }
  .finalizar {
    font-size: 15px;
    margin-left: 27%;
    background-color: lightgreen;
    box-sizing: border-box;
    width: 25vw;
  }

  .finalizar .button {
    width: 25vw;
    height: 6vh;
  }

  .finalizar .button:hover {
    background-color: mediumseagreen;
  }
}

@media only screen and (min-width: 668px) and (max-width: 1000px) {
  .openCart {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-right: 5%;
    width: 55vw;
    height: 75vh;
    margin-top: 13.8%;
    position: absolute;
    padding-right: 0;
    border-top: 4px solid black;
    border-left: none;
    border-bottom: none;
  }

  .numCarrito {
    width: 3vw;
    height: 2vh;
    font-size: 1vw;
  }

  .lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .listObj{
    font-size: 20px;
  }

  .listUni{
    font-size: 20px;
  }

  .miniProd {
    display: flex;
    align-items: center;
  }

  .miniProd img {
    display: none;
  }

  .miniProd .prod {
    margin-left: 5px;
    font-size: 16px;
    text-align: center;
  }

  .miniProd .counter {
    margin-right: 5%;
  }

  .miniProd .prods {
    margin-right: 5%;
  }

  .miniProd .boton {
    width: 35px;
    padding: 7px;
    text-align: center;
    position: absolute;
    margin-bottom: 11%;
  }

  .miniProd .boton:hover {
    background-color: burlywood;
    color: black;
  }

  .totalLet {
    font-size: 20px;
    margin-left: 15%;
  }

  .totalNum {
    margin-left: 40%;
    font-size: 20px;
  }
  .finalizar {
    font-size: 15px;
    margin-left: 27%;
    background-color: lightgreen;
    box-sizing: border-box;
    width: 25vw;
  }

  .finalizar .button {
    width: 25vw;
    height: 6vh;
  }

  .finalizar .button:hover {
    background-color: mediumseagreen;
  }
}

/* @media only screen and (min-width: 999px) and (max-width: 1790px){
  .openCart {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 75vh;
    margin-top: 0;
    position: absolute;
    border-top: 4px solid black;
    border-left: none;
    border-bottom: none;
  }

  .numCarrito {
    width: 3vw;
    height: 2vh;
    font-size: 1vw;
  }

  .lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .miniProd {
    display: flex;
    align-items: center;
  }

  .miniProd img {
    display: none;
  }

  .miniProd .prod {
    margin-left: 5px;
    font-size: 16px;
    text-align: center;
  }

  .miniProd .counter {
    margin-right: 5%;
  }

  .miniProd .prods {
    margin-right: 5%;
  }

  .miniProd .boton {
    width: 35px;
    padding: 7px;
    text-align: center;
    position: absolute;
    margin-bottom: 11%;
  }

  .miniProd .boton:hover {
    background-color: burlywood;
    color: black;
  }
  
  .listObj{
    font-size: 20px;
  }

  .listUni{
    font-size: 20px;
  }


  .totalLet {
    font-size: 20px;
    margin-left: 15%;
  }

  .totalNum {
    margin-left: 40%;
    font-size: 20px;
  }
  .finalizar {
    font-size: 15px;
    margin-left: 27%;
    background-color: lightgreen;
    box-sizing: border-box;
    width: 25vw;
  }

  .finalizar .button {
    width: 25vw;
    height: 6vh;
  }

  .finalizar .button:hover {
    background-color: mediumseagreen;
  }
} */

@media screen and (max-width: 768px) {
  .lista {
    font-size: 2.5vh;
  }
  .button {
    height: 13vh;
  }
}
@media screen and (max-width: 1060px) {
  .button {
    height: 12vh;
  }
}
